chatGPTAccountPool:
  - email: email
    password: password
    session_token: session_token
    cf_clearance: <CLOUDFLARE_TOKEN>
    user_agent": USER_AGENT
chatPrivateTiggerKeyword: ""
openAIProxy: ""
