chatGPTAccountPool:
  - email: email
    password: password
    session_token: session_token
chatPrivateTiggerKeyword: ""
openAIProxy: ""
clearanceToken: ""
userAgent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"